@if (currentPath) {<p>{{ currentPath.path }}</p>}
@else {<p>{{rootPath}}</p>}

<div class="table-container">
  @if (fileInfo){
    <table  mat-table [dataSource]="fileInfo">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="path">
        <th mat-header-cell *matHeaderCellDef> Path </th>
        <td mat-cell *matCellDef="let element"> {{element.path}} </td>
      </ng-container>

      <ng-container matColumnDef="isFile">
        <th mat-header-cell *matHeaderCellDef> isFile </th>
        <td mat-cell *matCellDef="let element"> {{element.isFile}} </td>
      </ng-container>

      <ng-container matColumnDef="isDirectory">
        <th mat-header-cell *matHeaderCellDef> isDirectory </th>
        <td mat-cell *matCellDef="let element"> {{element.isDirectory}} </td>
      </ng-container>
 
      <ng-container matColumnDef="isSymLink">
        <th mat-header-cell *matHeaderCellDef> isSymLink </th>
        <td mat-cell *matCellDef="let element"> {{element.isSymLink}} </td>
      </ng-container>
  
      <ng-container matColumnDef="len">
        <th mat-header-cell *matHeaderCellDef> Length </th>
        <td mat-cell *matCellDef="let element"> {{element.len}} </td>
      </ng-container>
  
      <ng-container matColumnDef="modified">
        <th mat-header-cell *matHeaderCellDef> Modified </th>
        <td mat-cell *matCellDef="let element"> {{element.modified}} </td>
      </ng-container>
  
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Created </th>
        <td mat-cell *matCellDef="let element"> {{element.created}} </td>
      </ng-container>
  
      <ng-container matColumnDef="accessed">
        <th mat-header-cell *matHeaderCellDef> Accessed </th>
        <td mat-cell *matCellDef="let element"> {{element.accessed}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getFolder(row)"></tr>
    </table>
  }
</div>
